@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    background-color: #FAF3E0;
    color: #4A3221;
}

/*Global*/
main{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
.hero, #about, #services, #portfolio, #contacts{
    height: 510px;
}
h2{
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 36px 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/*Header and Nav*/
header .container{
    background-color: #8B4513;
    color: #FAF3E0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
header .logo{
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}
header a:hover{
    color: #D2691E;
}
header p{
    margin: 0;
    padding: 0 16px;
    font-style: italic;
    font-size: 16px;
}
nav ul{
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    gap: 36px;
}
/*Hero*/
.hero-container{
    background-color: #A67B5B;
    margin: 0;
    padding: 16px;
    color: #FAF3E0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.hero{
    flex: 1;
    text-align: center;
    align-content: space-around;
    padding: 20px;
}
.hero h1{
    font-size: 48px;
    color: #4A3221;
}
.hero p{
    font-size: 24px;
    font-style: italic;
}
.hero span{
    color: #4A3221;
}
img{
    width: 720px;
    height: 450px;
    align-self: center;
}
.btn1, .btn2{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
}
.btn1, .btn2:hover{
    background-color: #723F32;
    color: #FAF3E0;
}
.btn2, .btn1:hover{
    background-color: #FAF3E0;
    color: #723F32;
}
/*About*/
#about .container{
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    background-color: #D2691E;
    color: #FAF3E0;
    border-radius: 36px;
}
#about p{
    flex: 1;
    font-size: 20px;
    margin: 0;
    padding: 16px 24px;
}
#about span{
    color: #4A3221;
    font-weight: 600;
    font-style: italic;
}
/*Services*/
#services>p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
#services ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    margin: 0 90px;
}
#services li{
    flex: 1;
    background-color: #8B4513;
    color: #FAF3E0;
    border-radius: 10px;
    box-shadow: 3px 6px 9px #723F32;
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
}
#services li:hover{
    background-color: #723F32;
    color: #D2691E;
}
#services strong{
    font-size: 24px;
    font-weight: 900;
}
/*Portfolio*/
#portfolio{
    background-color: #D2691E;
}
#portfolio>p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
#portfolio .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 90px;
}
#portfolio .showcase{
    flex: 1;
    background-color: #A67B5B;
    border: 1px black solid;
    border-radius: 30px;
    box-shadow: 3px 6px 9px #723F32;
}
.showcase img{
    border: 1px black solid;
    width: 300px;
    height: 270px;
}
.showcase p{
    font-size: 18px;
}



/*Contacts*/
#contacts{
    background-color: #723F32;
    padding: 30px;
    margin: 20px;
}
/* .form-container{
    display: inline-block;
    margin-bottom: 16px;
}
.form-box{
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #D2691E;
} */

/*Footer*/
footer{
    background-color: #8B4513;
    color: #FAF3E0;
    padding: 10px;
    text-align: center;
}